{% extends "base.html" %}
{% block content %}
<div class="card" style="max-width:480px;">
  <h1>Login</h1>
  <form method="post">
  <input type="hidden" name="_csrf_token" value="{{ session.get('_csrf_token') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label>Username</label>
    <input class="input" name="username" required />
    <label>Password</label>
    <input class="input" type="password" name="password" required />
    <div style="margin-top:14px;">
      <button class="btn" type="submit">Sign In</button>
      <a class="btn secondary" href="/register" style="margin-left:8px;">Create account</a>
    </div>
  </form>
</div>
{% endblock %}
